@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
    /* Font */
    --font-inter: 'Inter', sans-serif;

    /* Colors */
    --color-primary: #877eff;
    --color-surface: #1f1f22;
    --color-muted: #7878a3;
    --color-main: #09090a;
    --color-secondary: #101012;
}

*::before,
*::after,
* {
    font-family: var(--font-inter), serif;
}

body {
    background-color: #000000;
}

/* Custom scrollbar */
@layer utilities {
    .custom-scrollbar {
        scrollbar-width: thin !important;
        scrollbar-color: var(--color-muted) transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 1px !important;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: var(--color-muted);
        border-radius: 9999px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: color-mix(in srgb, var(--color-muted) 80%, white);
    }
}
