@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  /* Font */
  --font-inter: 'Inter', sans-serif;

  /* Colors */
  --color-primary: #877eff;
  --color-surface: #1f1f22;
  --color-muted: #7878a3;
}

*::before,
*::after,
* {
  font-family: var(--font-inter);
}

body {
  background-color: #000000;
}
